*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.logo{
    width: 180px;

}
.menuIndex{display: inline-block;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: transparent;
    height: auto;

}
.redesHeader{
    display: inline-block;
    padding: 10px 20px;
    margin: 10px auto;
    background-color: transparent;
    height: auto;

}



.containerNovedades {  display: grid;
    grid-template-columns: 1fr 1fr 0.9fr 1.1fr 1fr 1fr;
    grid-template-rows: 0.1fr 2.1fr 0.7fr 0.7fr 0.7fr 1fr 0.1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
  }
  
  .fondoMain { grid-area: 2 / 1 / 3 / 7;
    background-image: url(../imagenes/sustentable.jpeg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 75vh;

}
  
  
  .redes { grid-area: 6 / 1 / 7 / 7; }
  
  .fotoPie { grid-area: 5 / 1 / 6 / 7; }
  
  .contenidoMain { grid-area: 3 / 1 / 5 / 7; }
  